<!DOCTYPE html>
<html land ="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="wight=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Каталог музыки КТВ </title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

</head>
</head>
<style>
.h1{
  margin-left: 100px;
   margin-right: auto;
   width: 6em;
}
</style>
<!--   background: #000 url("{% static "map/image/pic.png" %}");-->
<body >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Каталог музыки</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Главная страница</a>
          <a class="p-2 text-dark" href="{% url 'map' %}">Карта музыки</a>
          <a class="p-2 text-dark" href="{% url 'r' %}">О разработчиках</a>
        </nav>
      </div>
      
{% for post in c %}
<h1>{{post.namec}}</h1>
{{post.countryop}}
{% endfor%}

</body>
</html>
