<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Каталог музыки КТВ </title>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

</head>
<style>
p{
  font-family:'Times New Roman',Times,serif;
  font-weight:bolder;
  font-size: 20px;
  line-height: 25px;
  text-indent: 70px;
  padding-left: 80px;
  padding-right: 80px;
  font-style:italic;
  background-color: white;
background: rgba(205, 214, 219, 0.5);

}
li{
  font-family:'Times New Roman',Times,serif;
  font-weight:bolder;
  font-size: 26px;
  line-height: 35px;
  text-indent: 70px;
  padding-left: 40px;
  padding-right: 40px;
  font-style:italic;
  background-color: white;
background: rgba(205, 214, 219, 0.35);

}
body{
  background: #000 url(static/shablon/image/imc2.jpg);
		background-attachment: fixed;
		background-size: 100%;

}
.featurette-heading
{
  color: black;
}
.lead
{
color: black;
}
</style>

<body>

    <!--   <div class="jumbotron">
            <div class="container">

                <h1>Каталог музыки</h1>
                <a href ="/" class="btn-success btn-lg">Главная страница </a>
                <a href="{% url 'map' %} " class="btn-primary btn-lg">Карта музыки </a>
                <a href="{% url 'r' %}" class="btn-primary btn-lg">О разработчиках </a>

            </div>
          </div>-->

            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                  <h5 class="my-0 mr-md-auto font-weight-normal">Каталог музыки</h5>
                  <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="/">Главная страница</a>
                    <a class="p-2 text-dark" href="{% url 'map' %}">Карта музыки</a>
                    <a class="p-2 text-dark" href="{% url 'r' %}">О разработчиках</a>
                  </nav>
                  <a class="btn btn-outline-primary" href="#">Sign up</a>
                </div>


            <!--    {% include "ch2.html" %}
                 {% block content %}
                    {% endblock %}-->

                    <div class="container marketing">
                <hr class="featurette-divider">
                <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading">Во-первых, <span class="text-muted">музыка влияет на настроение.</span></h2>
                    <p class="lead">Весёлая песня поднимает настроение, а грустная, наоборот, заставляет вспомнить какие-то грустные моменты в жизни. Но чаще всего гармоничное сочетание звуков и приятная музыка положительно сказываются на эмоциональном состоянии человека, а также доставляют ему радость. Музыка, построенная на диссонансах и какофонии, как правило, нравится немногим людям, а у некоторых она вызывает раздражение, нервозность и даже физическую боль.</p>
                  </div>
                  <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b42bf564a%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b42bf564a%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                  </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                  <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Во-вторых, <span class="text-muted">музыка позволяет отвлечься и расслабиться.</span></h2>
                    <p class="lead">Поэтому её часто включают фоном в различных развлекательных заведениях, а вот слушать громко музыку в машине не рекомендуется, так как это способствует снижению концентрации внимания водителя. Также фоновая музыка может повлиять на производительность труда офисного сотрудника, так как под музыку гораздо тяжелее сконцентрироваться на каком-либо деле. Влияние музыки на человека очень значимо.</p>
                  </div>
                  <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b42bf5650%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b42bf5650%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
                  </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading">В-третьих, <span class="text-muted">музыка снимает напряжение и позволяет выйти из состояния стресса.</span></h2>
                    <p class="lead">Здесь, конечно, всё сугубо индивидуально, и каждый человек подбирает музыку под своё душевное состояние. Но есть и специальная музыка для расслабления, которую многие слушают перед сном или во время занятий йогой.</p>
                  </div>
                  <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b42bf5657%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b42bf5657%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
                  </div>
                </div>

                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->

              </div>


            <!--{% load staticfiles %}
            <img src="{% static "shablon/image/iii.jpg" %}" alt="My image"/>-->




</body>
</html>
