<!DOCTYPE html>
<html land ="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="wight=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Каталог музыки КТВ </title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

</head>
</head>
<style>




</style>
<!--><body bgcolor ="#000" background="static/shablon_v1/image/imc1.jpg" -->
<body >
  <div class="jumbotron">
        <div class="container">
          <p>
              <h1>Каталог музыки</h1>
            <a href ="/" class="btn-success btn-lg">Главная страница </a>
            <a href ="/maps" class="btn-primary btn-lg">Карта музыки </a>
          </p>
        </div>
        </div>
  <h1 align="center">По жанрам  </h1>
  <div class="container">

           <div class="row">
  <div class="btn-group">

  <button type="button" class="btn btn-dark  mr-3">Все</button>
  <button type="button" class="btn btn-dark ml-3 mr-3 ">Рок</button>
  <button type="button" class="btn btn-dark ml-3 mr-3">Поп</button>
  <button type="button" class="btn btn-dark ml-3 mr-3">Хип-хоп</button>
  <button type="button" class="btn btn-dark ml-3 mr-3">Соул</button>
  <button type="button" class="btn btn-dark ml-3 mr-3">Рэп</button>
  <button type="button" class="btn btn-dark ml-3 ">Народная музыка</button>
</div>
</div>
</div>

<h1 align="center">По десятилетиям</h1>
<div class="container">
      <div class="btn-group">
         <div class="row">
<button type="button" class="btn btn-dark  ml-avto mr-3">Все</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">1950-е</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">1960-е</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">1970-е</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">1980-е</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">1990-е</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">2000-е</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">2010-е</button>
<button type="button" class="btn btn-dark ml-3 mr-avto ">2020-е</button>

</div>
</div>
</div>
<!--{% load staticfiles %}
<img src="{% static "shablon/image/iii.jpg" %}" alt="My image"/>
{% include "shablon/uncludes/ch2.html" %}-->
<h1></h1>
 <div class="container">
  <img align="center" src="{% static "main_str/image/pic.png" %}" class="img-fluid ">
  <!--  <img scr="{% static 'image/pic1.jpg' %}" class="img-thumbnail">-->
  </div>

</body>
</html>
