<!DOCTYPE html>
<html land ="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="wight=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Каталог музыки КТВ </title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

</head>
</head>
<style>
.btn1
{
  margin-left: 25px;
     margin-right: auto;
     width: 6em;
}

.btn
{
font-size: 35px;
}
.btn2
{
  margin-left: -100px;
     margin-right: auto;
     width: 6em;
}


</style>
<!--><body bgcolor ="#000" background="static/shablon_v1/image/imc1.jpg" -->
<body >
  <div class="jumbotron">
        <div class="container">
          <p>
              <h1>Каталог музыки</h1>
            <a href ="/" class="btn-success btn-lg">Главная страница </a>
          </p>
        </div>
        </div>
  <h1 align="center">По жанрам </h1>
  <div class="container">
  <div class="row">
  <div class="btn-group btn1">

  <button type="button" class="btn btn-dark ml-avto mr-3"><a href="/search/?q=All">Все</a></button>
  <button type="button" class="btn btn-dark ml-3 mr-3"><a href="/search/?q=style&v=Рок">Рок</a></button>
  <button type="button" class="btn btn-dark ml-3 mr-3"><a href="/search/?q=style&v=Поп">Поп</a></button>
  <button type="button" class="btn btn-dark ml-3 mr-3"><a href="/search/?q=style&v=Хип-хоп">Хип-хоп</a></button>
  <button type="button" class="btn btn-dark ml-3 mr-3"><a href="/search/?q=style&v=Соул">Соул</a></button>
  <button type="button" class="btn btn-dark ml-3 mr-3"><a href="/search/?q=style&v=Рэп">Рэп</a></button>
  <button type="button" class="btn btn-dark ml-3 mr-avto "><a href="/search/?q=style&v=Народная музыка">Народная музыка</a></button>
</div>
</div>
</div>

<h1 align="center">По десятилетиям</h1>
<div class="container">
    <div class="row">
         <div class="btn-group btn2">
<button type="button" class="btn btn-dark ml-3 mr-3"><a href="/search/?q=All">Все</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=1950">1950-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=1960">1960-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=1970">1970-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=1980">1980-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=1990">1990-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=2000">2000-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=2010">2010-е</a></button>
<button type="button" class="btn btn-dark ml-3 mr-3 "><a href="/search/?q=age&v=2020">2020-е</a></button>

</div>
</div>
</div>

<button type="button" class="btn btn-dark ml-3 mr-3">Германия</button>
<button type="button" class="btn btn-dark ml-3 mr-3 ">Россия</button>

<h1></h1>
 <div class="container">
    <img align="center" src="{% static "map/image/pic.png" %}" class="img-fluid ">
  </div>

</body>
</html>
