<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Поиск</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
        <h5 class="my-0 mr-md-auto font-weight-normal">Каталог музыки</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Главная страница</a>
          <a class="p-2 text-dark" href="{% url 'map' %}">Карта музыки</a>
          <a class="p-2 text-dark" href="{% url 'r' %}">О разработчиках</a>
        </nav>
      </div>

    <div class="container">
      <h2>По клику вывести список групп по выбранному критерию</h2>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" id="myBtn">Вывести</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Перечень групп</h4>
            </div>
            <div class="modal-body">
              {% for post in groups %}

               <table><h5>______________________</h5>
                   <thead>
                   </thead>
                   <tbody>
                      <tr>
                         <td>
                          <h4>Группа</h4>
                          <form method="POST" action="create/">
                          <!--<button type="button" class="btn btn-info btn-lg" id="myBtn2">Вывести</button>-->
                            <a  href ="#" id="myBtn2" name="{{post.name}}"><h5>{{post.name }} - {{post.age }}-е</h5> </h4></a>
                         </td>
                      <tr>
                         <td>
                            <h4>Перечень песен в десятилетие</h4> <h5>{{post.songs}}</h5>
                         </td>
                         <td></td>
                      </tr>
                      <tr>
                         <td>
                            <h4>Перечень альбомов в десятилетие</h4> <h5>{{post.alboms}}</h5>
                         </td>
                         <td></td>
                      </tr>
                      <tr>
                         <td>
                            <h4>Состав группы</h4> <h5>{{post.sostav}}</h5>
                         </td>
                         <td></td>
                      </tr>
                      <tr>
                         <td>
                            <h4>История</h4> <h5>{{post.history}}</h5>
                         </td>
                         <td></td>
                      </tr>
                   </tbody>
                 {% endfor%}</table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
          </div>

        </div>
      </div>

    </div>







    <script>
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });
    </script>

</body>
</html>
