<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Архив групп</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% load staticfiles %}

<div class="container">
  <h2>По клику вывести список групп</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" id="myBtn">Вывести</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Перечень групп</h4>
        </div>
        <div class="modal-body">
          {% for post in object_list %}

           <table><h5>______________________________</h5>
               <thead>
               </thead>
               <tbody>
                  <tr>
                     <td>
                      <h4>Группа</h4>
                        <a href ="/bd_app{{post.id}}"><h5>{{post.name}}</h5> </h4></a>

                     </td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>
                        <h4>Десятилетие <h5>{{post.age}}</h5></h4>
                     </td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>
                        <h4>Перечень песен в десятилетие</h4> <h5>{{post.songs}}</h5>
                     </td>
                     <td></td>
                  </tr>
               </tbody>
             {% endfor%}</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>

</body>
</html>
